* {
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif
}
main {
  margin: 20px auto;
  width: 250px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 2fr 1fr;
  gap: 0.5rem;
  background-color: black;
  padding: 1rem;
  border-radius: 2rem;
}
.key {
  text-align: center;
  padding: 0.9rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  &:hover{
    opacity: 0.7;
  }
}
.black{
  background-color: rgb(94, 92, 92);
  color: white;
}
.grey {
  background-color: rgb(173, 172, 172);
}
.orange{
  background-color: orange;
  color: white;
}
.screen{
  grid-column: 1 / 5;
}
.zero{
  text-align: left;
  width: auto;
  grid-column: 1 / 3;
  border-radius: 2rem;
}

